img {
    max-width: 100%;
    height: auto;
}

iframe {
    display: block;
    max-width: 100%;
}

// Selection colors

::selection {
    background: $brand-primary; /* WebKit/Blink Browsers */
    color: #ffffff;
}

::-moz-selection {
    background: $brand-primary; /* Gecko Browsers */
    color: #ffffff;
}
