// Typography
$font-family-sans-serif: Roboto, "Microsoft YaHei", "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", sans-serif;


// Colors
$brand-primary: #00aad4;


// Grid sizes
$screen-lg-max: 1399px;
$screen-xl-min: 1400px;


// Custom navbar
$custom-navbar-height: 50px;

// Browser window elements
$scrollbar-width: 20px;
