// Background colors
$bg-light: #EAEFF2;
$bg-dark:  #323D3F;

// Extra grid sizes
$screen-lg-max: 1399px;
$screen-xl-min: 1400px;


// Custom navbar
$navbar-height: 50px;

// Browser window elements
$scrollbar-width: 20px;


// Image thumbnail sizes
$image-thumb-size: 300px;
$image-medium-size: 600px;
$image-large-size: 1200px;

// Grid layout
$grid-column-width: 300px;
$grid-column-space: 20px;
$grid-padding: 10px;
$grid-two-column-width: 2 * $grid-column-width + 1 * $grid-column-space + 2 * $grid-padding;
$grid-three-column-width: 3 * $grid-column-width + 2 * $grid-column-space + 2 * $grid-padding;
$grid-four-column-width: 4 * $grid-column-width + 3 * $grid-column-space + 2 * $grid-padding;
