// Typography
$font-family-sans-serif: Roboto, "Microsoft YaHei", "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", sans-serif;


// Colors
$brand-primary: #00aad4;


// Custom navbar
$custom-navbar-height: 50px;
