body#about-page {
    header {
        @include item-center();
        @include image-cover();
        background-image: url(/img/about/clothing-design.jpg);
        height: 300px;

        h1 {
            margin: 0;
            padding: 20px;
            background-color: rgba(255,255,255,0.5);
            font-weight: 300;
        }

        @media (min-width: $screen-sm-min) {
            height: 400px;
        }

        @media (min-width: $screen-md-min) {
            height: 500px;
        }

        @media (min-width: $screen-lg-min) {
            height: 600px;
        }
    }

    #data-section {
        padding: 50px 0;
    }

    .data-entry {
        margin-bottom: 30px;
        text-align: center;
        color: $brand-info;

        .number {
            width: 80px;
            height: 80px;
            line-height: 80px;
            margin: auto;
            margin-bottom: 15px;
            border-radius: 999px;
            border: 1px solid $brand-info;

            font-size: 24px;
            font-weight: 100;

            @media (min-width: $screen-sm-min) {
                width: 160px;
                height: 160px;
                line-height: 160px;
                font-size: 48px;
            }
        }

        .text {
            @media (min-width: $screen-sm-min) {
                font-size: 24px;
            }
        }
    }
    .team-member {
        position: relative;
        margin-bottom: 30px;
    }
}
