#home-page {

    header {
        height: 600px;
        overflow: hidden;

        #slides {
            position: relative;
            height: 100%;

            .slide {
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: flex-start;
                align-items: center;
                @include image-cover();

                .text {
                    max-width: 25em;
                    padding: 1em;
                    background-color: rgba(255,255,255,0.6);
                }

                h1 {
                    font-weight: 400;
                    font-size: 1.8em;
                    padding-bottom: 0.5em;
                    margin-top: 0;
                    border-bottom: 2px solid #000;
                }

                .btn {
                    font-size: 1em;
                    border: 2px solid #000;
                    background-color: transparent;
                    color: #000;
                }

                @media screen and (min-width: $screen-sm-min) {
                    font-size: 16px;
                    padding: 0 30px;

                    .text {
                        padding: 2em;
                    }

                    .flickity-prev-next-button {
                        display: block;
                    }
                }

                @media screen and (min-width: $screen-md-min) {
                    font-size: 18px;
                    padding: 0 50px;
                }

                @media screen and (min-width: $screen-lg-min) {
                    font-size: 20px;
                    padding: 0 100px;
                }
            }

            .flickity-prev-next-button {
                display: none;

                @media screen and (min-width: $screen-sm-min) {
                    display: block;
                }
            }

            .flickity-page-dots {
                bottom: 20px;

                .dot {
                    width: 12px;
                    height: 12px;
                    opacity: 1;
                    background: transparent;
                    border: 2px solid white;

                    &.is-selected {
                        background: white;
                    }
                }
            }

        }

    }

    main {

        section {
            @media (min-width: $screen-sm-min) {
                display: flex;
            }
        }

        .heading {
            position: relative;
            margin: 0;
            padding: 10px 30px;
            color: #ffffff;
            font-size: 18px;

            @media (min-width: $screen-sm-min) {
                flex: 0 0 60px;
                width: 40px;
                max-width: 40px;
                margin: 0;
                padding: 30px 10px;
            }

            .inner {
                position: relative;
                white-space: nowrap;
                height: 20px;
                line-height: 20px;

                &.affix, &.affix-top, &.affix-bottom {
                    position: relative;
                }

                @media (min-width: $screen-sm-min) {
                    transform: rotate(90deg) translateY(-20px);
                	transform-origin: left top 0;

                    &.affix {
                        position: fixed;
                        left: 10px;
                        top: $custom-navbar-height + 30px;
                    }
                }
            }
        }

        .list {
            flex: 1 0 360px;
            display: flex;
            padding: 10px 0;
            flex-wrap: wrap;
            justify-content: center;
            background-color: #EAEFF2;

            @media (min-width: $screen-sm-min) {
                padding: 10px;
                justify-content: flex-start;
            }

            article {
                width: 300px;
                margin: 10px;
                background-color: #ffffff;

                a {
                    display: block;
                    height: 100%;
                    color: inherit;
                }

                .cover {
                    height: 300px;

                    .text {
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        text-align: center;
                        background-color: rgba(0,0,0,0.3);
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: rgba(0,0,0,0.5);
                        }

                        h3 {
                            margin: 0;
                            padding: 10px;
                            border-radius: 5px;
                            font-size: 2em;
                            font-weight: 400;
                            color: #ffffff;
                        }
                    }
                }

                .text {
                    height: 200px;
                    padding: 15px;

                    .inner {
                        height: 100%;
                        overflow: hidden;
                    }

                    h3 {
                        font-size: 16px;
                        margin-top: 0;
                        margin-bottom: 10px;
                        font-weight: 500;

                        small {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }

                    .excerpt {
                        color: $gray-light;
                    }
                }
            }

            .more-button a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                text-align: center;
                padding: 30px;
                font-size: 18px;
            }
        }

        #story-list {
            .heading, .more-button {
                background-color: #a3d7a3;
            }
        }

        #designer-list {
            .heading, .more-button {
                background-color: #f2cd8e;
            }
        }

        #place-list {
            .heading, .more-button {
                background-color: #a3d5ed;
            }
        }

        #tag-list {
            .heading, .more-button {
                background-color: #f6bdd9;
            }
        }
    }
}
