#home-page {

    $header-height: 300px;

    header#home-page-header {
        position: relative;
        display: flex;
        height: $header-height;
        padding: $grid-gutter-width / 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include image-cover;

        h1 {
            font-family: $font-family-display;
            font-size: 48px;
            margin: 10px 0;
        }

        .buttons {
            margin-bottom: 10px;
        }

        .btn, .form-control {
            background: none;
            border-width: 2px;
            border-radius: 99px;
            color: inherit;
            text-align: center;
        }

        .form-control:focus {
            box-shadow: none;
        }

        .form-control::placeholder {
            color: inherit;
        }

        .icons {
            position: absolute;
            text-align: center;
            left: 10px;
            right: 10px;
            bottom: 10px;

            a {
                display: inline-block;
                color: inherit;
                font-size: 32px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                padding: 0;
                text-align: center;
            }
        }

        $light-color: rgba(255,255,255, 0.95);
        $dark-color: rgba(0,0,0,0.8);

        // Dark background images
        &.dark {
            background-image: url("https://source.unsplash.com/collection/580227/1600x800");
            color: $light-color;

            .btn, .form-control {
                border-color: $light-color;
            }
        }

        // Light background images
        &.light {
            background-image: url("https://source.unsplash.com/collection/580306/1600x800");
            color: $dark-color;

            .btn, .form-control {
                border-color: $dark-color;
            }
        }

        // Landscape, from 800x400px to 1900x950px
        @for $i from 0 through 11 {
            @media (min-width: $i * 100px + 800px) and (min-height: $i * 50px + 400px) {
                height: $i * 30px + 240px;
            }
        }
    }

    .tag-filter {
        text-align: center;
    }

    .featured-designers {
        padding: $grid-gutter-width 0;
    }
}
