#login-page {
    main {
        padding: $grid-gutter-width 0;
    }

    #oauth-buttons {
        display: flex;
        flex-direction: column;

        .btn {
            margin-bottom: $grid-gutter-width / 2;
            text-align: left;

            img {
                margin-top: -2px;
                margin-bottom: -2px;
                margin-right: 5px;
            }
        }
    }
}
