# Vendor packages
## Composer
/vendor
## NPM
/node_modules
## Bower
/public/lib

# Passwords
.env

# Compiled JavaScript and CSS
/public/css
/public/js

# Storage
/public/storage

# Homestead configuration
Homestead.yaml
Homestead.json

# Kate
*.kate-swp

# KDE
.directory
