# Vendor packages
## Composer
/vendor
## NPM
/node_modules

# Passwords
.env

# Compiled JavaScript and CSS
/public/css
/public/js
/public/build
/public/svg
/public/hot

# Copyed files
/public/lib
/public/img
/public/fonts

# Storage
/public/storage
/storage/*.key

# Homestead configuration
Homestead.yaml
Homestead.json

/.idea

# Kate
*.kate-swp

# KDE
.directory
