$kanibar-side-width: 150px;

#kanibar {
    height: 200px;
    margin-bottom: 20px;

    a, a:active, a:hover {
        color: #000000;
        text-decoration: none;
    }

    .first-row {
        display: flex;
        height: 160px;
        padding: 0 20px;
        align-items: center;
        justify-content: center;

        #nav-menu {
            flex: 1 1 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: $kanibar-side-width;

            .nav-menu-item {
                display: block;
                flex: 0 0 80px;
                padding-bottom: 10px;
                text-align: center;

                img {
                    height: 80px;
                    width: auto;
                    margin-bottom: 10px;
                }

                &.active {
                    padding-bottom: 8px;
                    border-bottom-width: 2px;
                    border-bottom-style: solid;
                }
            }

            #story-menu-item {
                color: $brand-primary;
                border-color: $brand-primary;
                margin-right: 20px;
            }

            #place-menu-item {
                color: $brand-success;
                border-color: $brand-success;
            }
        }

        #user-menu {
            text-align: right;

            &.logged-in {
                $avatar-size: 48px;
                flex: 0 0 $avatar-size;
                margin-left: $kanibar-side-width - $avatar-size;

                .avatar.dropdown-toggle {
                    @include image-cover();
                    display: block;
                    width: 48px;
                    height: 48px;
                    border-radius: 99px;
                }
            }

            &.not-logged-in {
                flex: 0 0 $kanibar-side-width;

                a {
                    margin-left: 1em;
                }
            }
        }
    }

    .second-row {
        height: 40px;
        padding: 0 15px;

        form {
            max-width: 500px;
            margin: auto;
        }
    }

    @media screen and (max-width: $screen-xs-max) {
        height: 140px;

        .first-row {
            height: 100px;
            padding: 0 15px;

            #nav-menu {
                flex: 2 2 200px;
                padding: 0;
                justify-content: left;
                margin-left: 0;

                .nav-menu-item {
                    flex: 0 0 60px;
                    padding-bottom: 5px;

                    img {
                        height: 48px;
                        margin-bottom: 5px;
                    }
                }
            }

            #user-menu {
                &.logged-in {
                    margin-left: 0;
                }

                &.not-logged-in {
                    flex: 0 0 auto;
                }
            }
        }
    }
}
