nav.custom-navbar {
    position: fixed;
    width: 100%;
    height: $custom-navbar-height;
    padding: 0 10px;

    @include material-shadow(lower);

    background-color: #fff;
    z-index: 100;

    display: flex;

    .nav-menu {
        @include list-unstyled;

        height: $custom-navbar-height;
        display: flex;
        margin: 0;
        padding: 0;

        &.left {
            flex: 1 0 auto;
        }

        &.right {
            flex: 0 0 auto;
        }

        > li {
            height: $custom-navbar-height;
            line-height: $custom-navbar-height;

            > a {
                display: block;
                height: 100%;
                padding: 0 10px;
                text-decoration: none;
                color: $gray;
                border-bottom: 4px solid transparent;
                transition: 0.3s;

                &:hover {
                    text-decoration: none;
                }
            }

            &.active, &:hover {
                > a {
                    color: $brand-info;
                    border-bottom: 4px solid $brand-info;
                }
            }

            &:hover {
                > a {
                    background-color: lighten($brand-info, 35%);
                }
            }
        }

    }

    .logo {
        display: block;
        position: absolute;
        width: $custom-navbar-height;
        height: $custom-navbar-height;
        left: 50%;
        top: 0;
        margin-left: - $custom-navbar-height / 2;
        background-image: url(/img/logo/color-415x693.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto $custom-navbar-height * 0.6;
    }

    @media screen and (max-width: $screen-xs-max) {
        font-size: $font-size-small;

        .logo {
            display: none;
        }

        .fa {
            font-size: 18px;
            line-height: $custom-navbar-height;
        }
    }
}

.custom-navbar-space {
    height: $custom-navbar-height;
}
