.image-preview {
    @include image-cover();
    position: relative;
    /* Actual width and height are controlled by JavaScript */
    width: 150px;
    height: 150px;
    max-width: 100%;
    box-shadow: 0 0 0 1px $gray-lighter; // A boder-like shadow

    &.selected {
        box-shadow: 0 0 0 5px $brand-info; // A boder-like shadow
    }

    span.remove {
        $size: 24px;
        position: absolute;
        top: 3px;
        right: 3px;
        display: block;
        width: $size;
        height: $size;
        line-height: $size - 2px;
        text-align: center;
        background-color: $brand-danger;
        color: #ffffff;
        cursor: pointer;
        font-size: $size;
        border-radius: 99px;
        z-index: 1;
    }

    .progress {
        position: absolute;
        top: 45%;
        bottom: 45%;
        left: 5%;
        right: 5%;
        height: 10%;
    }
}
