#image-manager {
    .modal-body {
        min-height: 300px;
        overflow-y: auto;
    }

    .upload-button {
        margin-left: 20px;
    }

    .gallery {
        margin: -5px;
    }

    .image-preview {
        float: left;
        margin: 5px;
    }
}
