#action-buttons, .action-buttons {
    text-align: left;

    &.float {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    &.left-xs {
        text-align: left;
    }

    &.right-xs {
        text-align: right;
    }

    @media screen and (min-width: $screen-sm-min) {
        &.left-sm {
            text-align: left;
        }

        &.right-sm {
            text-align: right;
        }
    }

    @media screen and (min-width: $screen-md-min) {
        &.left-md {
            text-align: left;
        }

        &.right-md {
            text-align: right;
        }
    }

    @media screen and (min-width: $screen-lg-min) {
        &.left-lg {
            text-align: left;
        }

        &.right-lg {
            text-align: right;
        }
    }
}
