$article-list-2-column-width: 2 * $grid-column-width + 3 * $grid-column-space;
$article-list-3-column-width: 3 * $grid-column-width + 4 * $grid-column-space;
$article-list-4-column-width: 4 * $grid-column-width + 5 * $grid-column-space;

.article-list {
    background-color: $bg-light;

    > .heading {
        margin: 0 auto;
        padding: 20px;

        form {
            display: inline-block;
        }
    }

    .list {
        display: flex;
        padding: $grid-column-space / 2 0;
        margin: auto;
        flex-wrap: wrap;

        @media (min-width: $screen-sm-min) {
            padding: 10px;
        }
    }

    article {
        width: $grid-column-width;
        margin: $grid-column-space / 2;
        background-color: #ffffff;

        &.active {
            box-shadow: 0 0 0 4px $brand-primary;
        }

        a {
            display: block;
            height: 100%;
            color: inherit;
        }

        .cover {
            position: relative;
            @include image-cover();
            height: 300px;

            img.image {
                display: block;
                width: 100%;
                height: 100%;
            }

            .text {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                align-content: center;
                text-align: center;
                background-color: rgba(0,0,0,0.3);
                transition: background-color 0.3s;

                &:hover {
                    background-color: rgba(0,0,0,0.5);
                }

                h2, h3 {
                    margin: 0;
                    padding: 10px;
                    border-radius: 5px;
                    font-size: 2em;
                    font-weight: 400;
                    color: #ffffff;
                }
            }

            img.logo {
                box-sizing: content-box;
                position: absolute;
                display: block;
                right: 10px;
                bottom: 10px;
                width: 75px;
                height: auto;
                border: 2px solid #ffffff;
                background-color: #ffffff;
            }
        }

        .text {
            height: 200px;
            padding: 15px;

            .inner {
                height: 100%;
                overflow: hidden;
            }

            h2, h3 {
                font-size: 16px;
                margin-top: 0;
                margin-bottom: 10px;
                font-weight: 500;

                small {
                    font-size: 1em;
                    font-weight: 300;
                }
            }

            .excerpt {
                color: $gray-light;
            }
        }

        &.more-button a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 30px;
            font-size: 18px;
        }
    }

    .pagination-wrap {
        margin: auto;
        text-align: center;
    }
}

// Page header with same width as article list columns
.article-list-header {
    .container {
        width: auto;
        padding: 20px;
    }
}

// Container width, considering scrollbar
@media (min-width: $article-list-2-column-width + $scrollbar-width) {
    .article-list {
        .list, .pagination-wrap, .heading {
            max-width: $article-list-2-column-width;
        }
    }

    .article-filter {
        form {
            max-width: $article-list-2-column-width;
        }
    }

    .article-list-header {
        .container {
            max-width: $article-list-2-column-width;
        }
    }
}

@media (min-width: $article-list-3-column-width + $scrollbar-width) {
    .article-list {
        .list, .pagination-wrap, .heading {
            max-width: $article-list-3-column-width;
        }
    }

    .article-filter {
        form {
            max-width: $article-list-3-column-width;
        }
    }

    .article-list-header {
        .container {
            max-width: $article-list-3-column-width;
        }
    }
}

@media (min-width: $article-list-4-column-width + $scrollbar-width) {
    .article-list {
        .list, .pagination-wrap, .heading {
            max-width: $article-list-4-column-width;
        }
    }

    .article-filter {
        form {
            max-width: $article-list-4-column-width;
        }
    }

    .article-list-header {
        .container {
            max-width: $article-list-4-column-width;
        }
    }
}
