.btn-round {
    border-radius: 99px;
}

// Buttons that only contains an icon
.btn-icon {
    border: none;
    background: transparent;
    font-size: 32px;
    color: inherit;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
        color: inherit;
        text-decoration: none;
    }
}
