/*
 * Templates: components/cards/*
 */
$card-bg: $gray-lightest;

.card {
    display: block;
    background-color: $card-bg;
    margin-bottom: $grid-gutter-width;
    overflow: hidden;

    .card-cover-wrap {
        display: block;
        position: relative;
    }

    .card-cover {
        display: block;
        object-fit: cover;
    }

    .card-body {
        position: relative;
        padding: $grid-gutter-width / 2;
        font-size: $font-size-small;
        overflow: hidden;
    }

    .card-title {
        margin-top: 0;
        margin-bottom: $grid-gutter-width / 2;
        font-size: $font-size-large;
    }

    .card-footer {
        padding-top: 0;
        padding-bottom: $grid-gutter-width / 2;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        font-size: $font-size-smaller;

        .list-inline {
            margin-bottom: 0;
        }
    }
}

.design-card {
    $body-height: 200px;

    position: relative;

    .card-cover {
        width: 100%;
        height: auto;
    }

    .card-body {
        height: $body-height;
    }

    .card-title {
        font-size: $font-size-base;
        line-height: $line-height-computed;
        height: $line-height-computed * 3;

        a {
            display: block;
            height: $line-height-computed * 2;
            overflow: hidden;
        }
        .label {
            display: inline-block;
        }
    }

    .card-footer {
        position: absolute;
        padding: $grid-gutter-width / 2;
        left: 0;
        right: 0;
        bottom: 0;
        background: $card-bg;
    }
}

.designer-card {
    $body-height: 150px;

    position: relative;

    .card-cover {
        width: 100%;
        height: auto;
    }

    .card-logo {
        position: absolute;
        right: $grid-gutter-width / 2;
        bottom: $grid-gutter-width / 2;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }

    .card-body {
        height: $body-height;
    }

    .card-title a {
        color: $gray-dark;
    }

    .card-footer {
        position: absolute;
        padding: $grid-gutter-width / 2;
        left: 0;
        right: 0;
        bottom: 0;
        background: $card-bg;
    }
}

.story-card {
    // Phone, width < 480px, usually 320px, 360px, 400px

    .card-cover {
        width: 100%;
        height: auto;
    }

    // Large tablet, width >= 768px, usually 768px, 800px
    @media (min-width: $screen-sm-min) {
        $cover-width: 400px;
        $cover-height: 200px;

        position: relative;
        height: $cover-height;

        .card-cover-wrap {
            float: left;
        }

        .card-cover {
            width: $cover-width;
            height: $cover-height;
        }

        .card-body {
            position: relative;
            margin-left: $cover-width;
        }

        .card-footer {
            position: absolute;
            padding: $grid-gutter-width / 2;
            left: $cover-width;
            right: 0;
            bottom: 0;
            background: $card-bg;
        }
    }
}

.user-card {
    $cover-width: 150px;
    $cover-height: 150px;

    position: relative;
    height: $cover-height;

    .card-cover-wrap {
        float: left;
    }

    .card-cover {
        width: $cover-width;
        height: $cover-height;
    }

    .card-body {
        position: relative;
        margin-left: $cover-width;
        height: $cover-height;
        overflow: hidden;
    }
}
