.coordinate-select {
    position: relative;
    height: 400px;

    .map {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .map-pin {
        @include image-cover();
        position: absolute;
        width: 24px;
        height: 48px;
        left: 50%;
        bottom: 50%;
        margin-left: -12px;
        background-image: url("/img/icon/map-pin.svg");
        border-radius: 99px;
    }

    .alerts {
        position: absolute;
        bottom: 60px;
        left: 10px;
        max-width: 300px;
    }

    .coordiate {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 10px;
        background-color: rgba(0,0,0,0.5);
        color: #ffffff;
    }

}
