.gallery-editor {
    $image-space: 5px;

    .images {
        padding: $image-space / 2;
        min-height: 320px;
        background: $gray-lighter;
        border-radius: 3px;
    }

    .image-preview {
        float: left;
        margin: $image-space / 2;

        &.sortable-ghost {
            opacity: 0.2;
        }

        cursor: move;
        cursor: grab;
    }
}
