#image-manager {
    .upload-button {
        float: right;
        margin-right: 2em;
    }

    .gallery {
        margin: -5px;
    }

    .image-preview {
        float: left;
        margin: 5px;
    }
}
