.like-button {
    &.liked {
        color: $brand-danger;
    }

    .icon {
        display: none;
    }

    &.liked .liked-icon {
        display: inline-block;
    }

    &:not(.liked) .not-liked-icon {
        display: inline-block;
    }
}
