.material-card {
    margin-bottom: 30px;
    background-color: #ffffff;
    @include material-shadow(lower);
    transition: box-shadow 0.3s;

    &:hover, &:active, &.active {
        @include material-shadow(medium);
    }
}
