// A banner with 3:1 sizes, usually used with .container.
.page-cover {
    @include image-cover;
    display: flex;
    position: relative;
    min-height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    color: #ffffff;
    text-align: center;

    * {
        z-index: 1;
    }

    .raster {
        z-index: 0;
    }

    .buttons {
        position: absolute;
        right: 20px;
        top: 20px;

        .btn {
            border: none;
            background: none;
            color: inherit;
        }

        .btn-group {
            .dropdown-toggle {
                border-radius: 0;

                &, &:hover, &:focus {
                    color: #ffffff;
                    background-color: transparent;
                    box-shadow: none;
                }
            }
        }
    }

    .type {
        position: absolute;
        left: 0;
        top: 20px;
        padding: 5px 20px;
        font-size: 1.5em;

        &.type-shop {
            background-color: $brand-info;
            box-shadow: 4px 4px 0 $brand-danger;
        }

        &.type-studio {
            background-color: $brand-primary;
            box-shadow: 4px 4px 0 $brand-warning;
        }

        &.type-showroom {
            background-color: $brand-warning;
            box-shadow: 4px 4px 0 $brand-info;
        }

        &.type-school {
            background-color: $brand-success;
            box-shadow: 4px 4px 0 $brand-danger;
        }

        &.type-museum {
            background-color: $brand-danger;
            box-shadow: 4px 4px 0 $brand-success;
        }
    }

    .logo {
        display: block;
        box-sizing: content-box;
        width: 79px;
        height: auto;
        border: 2px solid #ffffff;
    }

    h1 {
        font-size: 2em;
        line-height: 1.2em;
        max-height: 3.6em;
        margin: 0.5em 0;
        font-weight: 400;
        overflow: hidden;
    }

    a {
        color: inherit;
    }

    .avatar {
        width: 54px;
        height: 54px;
        margin-right: 10px;
        border-radius: 99px;
        border: 2px solid #ffffff;
    }

    .user-name {
        font-size: 1.5em;
    }

    .tagline {
        flex: 0 0 auto;
        line-height: 1.5em;
        max-height: 3em;
        overflow-y: hidden;
    }

    .links {
        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            padding: 4px;
            font-size: 28px;
            line-height: 32px;
            text-align: center;
        }
    }

    .tag-list {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        color: inherit;
        white-space: nowrap;
        overflow: auto;

        > li{
            margin: 0;

            > a {
                border-color: #ffffff;
                color: inherit;

                &:hover, &:active {
                    color: $gray;
                    background-color: #ffffff;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        h1 {
            font-size: 3.5em;
            font-weight: 300;
        }

        .logo {
            height: 106px;
            min-height: 106px;
            max-height: 106px;
            width: auto;
            border: 3px solid #ffffff;
        }
    }

    @media (min-width: $screen-md-min) {
        h1 {
            font-size: 4em;
        }
    }

    @media (min-width: $screen-lg-min) {
        h1 {
            font-size: 4.5em;
        }
    }
}
