/**
 * To be different from tag list in /tag/ page, this tag-list class must only
 * be used with ul elements, not div.
 */

ul.tag-list {
    > li > a {
        text-transform: lowercase;
    }
}

ul.tag-list-plain {
    > li > a {
        &:before {
            content: "#";
        }
    }
}

ul.tag-list-round {
    > li > a {
        display: inline-block;
        border: 1px solid $brand-info;
        border-radius: 99px;
        line-height: 1.8em;
        padding: 0 0.5em;
        margin-bottom: 0.5em;
        color: $brand-info;

        &:hover {
            background-color: $brand-info;
            color: #ffffff;
        }
    }
}
