/**
 * To be different from tag list in /tag/ page, this tag-list class must only
 * be used with ul elements, not div.
 */

ul.tag-list {
    @include list-unstyled();

    > li {
        display: inline-block;

        > a {
            display: block;
            border: 1px solid $brand-primary;
            border-radius: 99px;
            line-height: 1.8em;
            padding: 0 0.5em;
            margin-bottom: 0.5em;
            color: $brand-primary;

            &:hover, &.active {
                background-color: $brand-primary;
                color: #ffffff;
            }
        }
    }
}

ul.tag-list-plain {
    > li > a {
        &:before {
            content: "#";
        }
    }
}
