.nav-strokes {
    li {
        float: left;

        a {
            color: $gray-light;

            &:focus, &:hover {
                color: $brand-info;
                background-color: transparent;
            }
        }

        &.active {
            a {
                color: $brand-info;
                border-bottom: 3px solid $brand-info;
            }
        }
    }

    &.nav-justified {
        li {
            float: none;
        }
    }
}
