#kanibar {
  height: 200px;
  margin-bottom: 20px; }
  #kanibar a, #kanibar a:active, #kanibar a:hover {
    color: #000000;
    text-decoration: none; }
  #kanibar .first-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 160px;
    padding: 0 20px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #kanibar .first-row #nav-menu {
      -webkit-flex: 1 1 300px;
      -ms-flex: 1 1 300px;
      flex: 1 1 300px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 150px; }
      #kanibar .first-row #nav-menu .nav-menu-item {
        display: block;
        -webkit-flex: 0 0 80px;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        padding-bottom: 10px;
        text-align: center; }
        #kanibar .first-row #nav-menu .nav-menu-item img {
          height: 80px;
          width: auto;
          margin-bottom: 10px; }
        #kanibar .first-row #nav-menu .nav-menu-item.active {
          padding-bottom: 8px;
          border-bottom-width: 2px;
          border-bottom-style: solid; }
      #kanibar .first-row #nav-menu #story-menu-item {
        color: #D1141E;
        border-color: #D1141E;
        margin-right: 20px; }
      #kanibar .first-row #nav-menu #place-menu-item {
        color: #697646;
        border-color: #697646; }
    #kanibar .first-row #user-menu {
      text-align: right; }
      #kanibar .first-row #user-menu.logged-in {
        -webkit-flex: 0 0 48px;
        -ms-flex: 0 0 48px;
        flex: 0 0 48px;
        margin-left: 102px; }
        #kanibar .first-row #user-menu.logged-in .avatar.dropdown-toggle {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          width: 48px;
          height: 48px;
          border-radius: 99px; }
      #kanibar .first-row #user-menu.not-logged-in {
        -webkit-flex: 0 0 150px;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px; }
        #kanibar .first-row #user-menu.not-logged-in a {
          margin-left: 1em; }
  #kanibar .second-row {
    height: 40px;
    padding: 0 15px; }
    #kanibar .second-row form {
      max-width: 500px;
      margin: auto; }
  @media screen and (max-width: 767px) {
    #kanibar {
      height: 140px; }
      #kanibar .first-row {
        height: 100px;
        padding: 0 15px; }
        #kanibar .first-row #nav-menu {
          -webkit-flex: 2 2 200px;
          -ms-flex: 2 2 200px;
          flex: 2 2 200px;
          padding: 0;
          -webkit-justify-content: left;
          -ms-flex-pack: left;
          justify-content: left;
          margin-left: 0; }
          #kanibar .first-row #nav-menu .nav-menu-item {
            -webkit-flex: 0 0 60px;
            -ms-flex: 0 0 60px;
            flex: 0 0 60px;
            padding-bottom: 5px; }
            #kanibar .first-row #nav-menu .nav-menu-item img {
              height: 48px;
              margin-bottom: 5px; }
        #kanibar .first-row #user-menu.logged-in {
          margin-left: 0; }
        #kanibar .first-row #user-menu.not-logged-in {
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto; } }

#kani-brand {
  margin: 50px auto;
  text-align: center;
  font-size: 1.5em; }
  #kani-brand .logo {
    height: 100px;
    width: auto; }
  #kani-brand .santa {
    color: #D1141E; }
  #kani-brand .kani {
    color: #697646; }

body.edit-layout #back-link {
  padding: 30px 0; }

body.edit-layout #edit-content {
  padding-bottom: 50px; }

#story-list .story {
  margin-bottom: 30px; }
  #story-list .story img.featured-image {
    display: block;
    width: 100%;
    height: auto; }
  #story-list .story .content {
    height: 10em;
    overflow: hidden; }
  #story-list .story .expand-button {
    display: block;
    margin: auto; }
    #story-list .story .expand-button .more {
      display: inline; }
    #story-list .story .expand-button .less {
      display: none; }
  #story-list .story.expanded .content {
    height: 30em;
    overflow: auto; }
  #story-list .story.expanded .expand-button .more {
    display: none; }
  #story-list .story.expanded .expand-button .less {
    display: inline; }

#place-wrapper {
  width: 100%;
  overflow: hidden; }
  #place-wrapper #place-map {
    float: left;
    width: 50%;
    height: 600px; }
    @media screen and (max-width: 767px) {
      #place-wrapper #place-map {
        float: none;
        width: 100%;
        height: 200px; } }
    #place-wrapper #place-map #place-map-inner, #place-wrapper #place-map #place-map-draw {
      width: 100%;
      height: 100%; }
    #place-wrapper #place-map #place-map-inner.affix {
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      height: auto;
      z-index: 1; }
      @media screen and (max-width: 767px) {
        #place-wrapper #place-map #place-map-inner.affix {
          right: 0;
          bottom: auto;
          width: 100%;
          height: 200px; } }
  #place-wrapper #place-list {
    margin-left: 50%;
    padding: 0 20px; }
    @media screen and (max-width: 767px) {
      #place-wrapper #place-list {
        margin-left: 0;
        padding: 0; } }
    #place-wrapper #place-list article.place {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 200px;
      margin-bottom: 20px; }
      @media screen and (max-width: 767px) {
        #place-wrapper #place-list article.place {
          height: 150px;
          margin-bottom: 10px;
          font-size: 12px; } }
      #place-wrapper #place-list article.place .image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 200px;
        height: 200px;
        float: left; }
        @media screen and (max-width: 767px) {
          #place-wrapper #place-list article.place .image {
            width: 150px;
            height: 150px; } }
        #place-wrapper #place-list article.place .image .type {
          position: absolute;
          left: 0;
          top: 1em;
          display: block;
          padding: 0.2em 0.5em;
          color: #ffffff;
          background-color: #000000; }
      #place-wrapper #place-list article.place .text {
        -webkit-flex: 1 1 100px;
        -ms-flex: 1 1 100px;
        flex: 1 1 100px;
        padding: 10px;
        overflow: hidden; }
        #place-wrapper #place-list article.place .text .title {
          margin-top: 0; }
          #place-wrapper #place-list article.place .text .title small {
            display: inline-block;
            margin: 0.5em 0; }
          @media screen and (max-width: 767px) {
            #place-wrapper #place-list article.place .text .title {
              font-size: 12px; }
              #place-wrapper #place-list article.place .text .title small {
                font-size: 12px; } }
        #place-wrapper #place-list article.place .text .tag {
          display: inline-block;
          font-size: 12px;
          color: #697646;
          border: 1px solid #697646;
          padding: 0.2em 0.5em;
          border-radius: 99px; }
          @media screen and (max-width: 767px) {
            #place-wrapper #place-list article.place .text .tag {
              border: none;
              padding: 0;
              border-radius: 0; } }

#picture-carousel {
  margin: 40px 0; }
  #picture-carousel .picture-thumb {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 10px; }
    @media screen and (max-width: 767px) {
      #picture-carousel .picture-thumb {
        width: 200px;
        height: 200px; } }

.lg-outer .lg .lg-thumb-outer .lg-thumb .lg-thumb-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-contnet: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 0; }
  .lg-outer .lg .lg-thumb-outer .lg-thumb .lg-thumb-item.active {
    opacity: 0.5; }

.designer-page article {
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 100px; }
  .designer-page article .title {
    text-align: center; }

/*# sourceMappingURL=app.css.map */
