#place-index-page {
    main {
        position: fixed;
        top: $navbar-height;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }

    #place-map {
        flex: 1 1 800px;

        .leaflet-popup {

            .leaflet-popup-close-button {
                background-color: $gray-dark;
                color: #ffffff;
                padding: 2px;
                width: 22px;
                height: 22px;
                font-size: 24px;
                font-weight: normal;
            }

            .leaflet-popup-content-wrapper {
                width: 200px;
                padding: 0;
                border-radius: 0;

                .leaflet-popup-content {
                    margin: 0;
                    width: 200px;
                    font-size: $font-size-small;

                    img {
                        display: block;
                    }

                    .info {
                        display: flex;
                        padding: 6px;
                    }

                    .name {
                        flex: 1 1 0;
                        line-height: 32px;
                        margin-right: 6px;
                    }

                    a {
                        color: inherit;
                    }

                    .btn-icon {
                        color: $brand-info;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                    }
                }
            }
        }
    }

    #place-list {
        display: flex;
        flex-direction: column;
        flex: 0 0 400px;

        background-color: #ffffff;

        form {
            flex: 0 0 auto;
            padding: $grid-gutter-width / 2;

            .city-search {
                display: flex;
                margin-bottom: 10px;
            }

            .city-select {
                flex: 1 1 40%;
                margin-right: 5px;
                font-size: $font-size-small;

                .selectize-input {
                    padding: 4px 8px;
                    overflow: hidden;
                }
            }

            .search-input {
                flex: 1 1 60%;
                font-size: $font-size-small;
                min-width: 0;
            }

            .tag-filter {
                margin-bottom: 0;
                font-size: $font-size-small;
            }
        }

        .list {
            flex: 1 1 auto;
            overflow-y: auto;
            padding: $grid-gutter-width / 2;
        }
    }

    .place-card {
        &.active {
            box-shadow: 0 0 0 2px $brand-info;
        }
    }

    @media (max-width: $screen-xs-max) {
        main {
            flex-direction: column;
            top: 0;
            bottom: $navbar-height;
        }

        #place-list {
            flex: 0 0 auto;
        }
    }
}
