#place-index-page {
    main {
        display: flex;
        position: fixed;
        top: $custom-navbar-height;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #place-map, #place-list {
        .float-icon {
            display: none;
        }
    }

    #place-map {
        flex: 1 1 400px;
    }

    #place-list {
        flex: 2 1 340px;
        height: 100%;
        overflow-y: auto;
    }

    @media screen and (max-width: $screen-xs-max) {
        #place-map, #place-list {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;

            &.active {
                z-index: 1;
            }

            .float-icon {
                display: flex;
            }
        }
    }
}
