#place-index-page {
    main {
        position: fixed;
        top: $custom-navbar-height;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }

    #place-map {
        flex: 1 1 800px;
        .leaflet-popup {
            $image-size: 150px;

            .leaflet-popup-close-button {
                background-color: $gray-dark;
                color: #ffffff;
                padding: 2px;
                width: 22px;
                height: 22px;
                font-size: 24px;
                font-weight: normal;
            }

            .leaflet-popup-content-wrapper {
                max-width: $image-size;
                padding: 0;
                border-radius: 0;

                .leaflet-popup-content {
                    margin: 0;
                    max-width: $image-size;

                    img {
                        display: block;
                    }

                    p {
                        margin: 0;
                        padding: 6px;
                    }

                    a {
                        color: inherit;
                    }

                    a.btn {
                        color: white;
                    }
                }
            }
        }
    }

    #place-list {
        display: flex;
        flex-direction: column;
        flex: 0 1 450px;
        padding: 10px;
        background-color: #ffffff;

        form.filter {
            flex: 0 0 auto;
        }

        .list {
            flex: 1 1 auto;
            margin-top: 20px;
            overflow-y: auto;

            .place {
                .image {
                    width: 100px;
                    margin-left: 10px;
                }

                h3 {
                    font-size: $font-size-base;
                    font-weight: 500;
                    margin-top: 0;
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 10px;
                }
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        main {
            flex-direction: column;
        }

        #place-list {
            flex: 0 1 300px;
            max-height: 300px;

            .list {
                display: none;
            }
        }
    }
}
