#place-show-page {

    .map {
        height: 300px;
    }

    .images {
        display: flex;
    }

    @media (min-width: $screen-sm-min) {
        .action-bar {
            display: inline-flex;
        }
    }

}
