#place-show-page {

    header {
        padding: 30px 0;
    }

    .gallery {
        .image-wrap {
            position: relative;
            width: 300px;
            height: 300px;
            margin-right: 4px;

            @media (max-width: $screen-xs-max) {
                width: 150px;
                height: 150px;
            }
        }

        .image {
            display: block;
            height: 100%;
            width: 100%;
        }


    }

    .map {
        height: 300px;
    }

}
