.image-preview {
    @include image-cover();
    position: relative;
    /* Actual width and height are controlled by JavaScript */
    width: 150px;
    height: 150px;
    max-width: 100%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    &.selected {
        box-shadow: 0 0 0 5px $brand-info; // A boder-like shadow
    }

    span.remove {
        $size: 24px;
        position: absolute;
        top: - $size / 2;
        right: - $size / 2;
        display: block;
        width: $size;
        height: $size;
        line-height: $size - 2px;
        text-align: center;
        background-color: $brand-danger;
        color: #ffffff;
        cursor: pointer;
        font-size: $size;
        border-radius: 99px;
    }

    .progress {
        position: absolute;
        top: 45%;
        bottom: 45%;
        left: 5%;
        right: 5%;
        height: 10%;
    }
}

.image-gallery .image-preview {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: move;
    cursor: grab;

    &.sortable-ghost {
        opacity: 0;
    }
}
