#user-show-page {
    main {
        padding: $grid-gutter-width 0;
    }

    #tabs {
        margin-bottom: $grid-gutter-width;
    }

    #like-types {
        margin-bottom: $grid-gutter-width;
    }
}
