#tag-show-page {
    header {
        padding: 30px 0;

        .cover-image {
            display: block;
            width: 100%;
        }

        h1 {
            margin-top: 0;
        }
    }

    main {
        padding: 30px 0;
        background-color: #f0f0f0;
    }
}
