.auth-layout {
    main {
        margin: 50px 0;
    }

    #auth-panel {
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
    }
}

#auth-modal {
    .modal-dialog {
        max-width: 360px;
    }
}
