body.edit-layout {
    #back-link {
        margin-bottom: 20px;
    }

    #edit-content {
        padding-bottom: 50px;
    }

    .image-preview {
        @include image-cover();
        float: left;
        position: relative;
        width: 150px;
        height: 150px;
        margin-right: 20px;
        margin-bottom: 20px;

        span {
            $size: 24px;
            position: absolute;
            top: - $size * 0.3;
            right: - $size * 0.3;
            display: block;
            width: $size;
            height: $size;
            line-height: $size;
            text-align: center;
            background-color: $brand-danger;
            color: #ffffff;
            cursor: pointer;
            font-size: 18px;
            border-radius: 99px;
        }
    }
}
