#kani-brand {
    margin: 50px auto;
    text-align: center;
    font-size: 1.5em;

    .logo {
        height: 100px;
        width: auto;
    }

    .santa {
        color: $brand-primary;
    }

    .kani {
        color: $brand-success;
    }
}
