#kanibar {
    @include image-cover();
    height: 300px;
    text-shadow: 0 0 5px #ffffff, 0 0 2px #ffffff, 0 0 1px #ffffff;

    @media screen and (max-width: $screen-xs-max) {
        height: 200px;
    }

    a {
        text-decoration: none;

        &:active, &:hover {
            text-decoration: none;
        }
    }

    .first-row {
        $side-width: 150px;

        display: flex;
        height: 200px;
        padding: 0 20px;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $screen-xs-max) {
            height: 100px;
            padding: 0 15px;
        }

        #brand {
            flex: 0 0 $side-width;
            font-size: 24px;

            .santa {
                color: $brand-primary;
            }

            .kani {
                color: $brand-success;
            }

            @media screen and (max-width: $screen-xs-max) {
                display: none;
            }
        }

        #nav-menu {
            flex: 1 1 300px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: $screen-xs-max) {
                flex: 2 2 200px;
                padding: 0;
                justify-content: left;
            }

            .nav-menu-item {
                display: block;
                flex: 0 0 80px;
                padding-bottom: 10px;
                text-align: center;

                @media screen and (max-width: $screen-xs-max) {
                    flex: 0 0 60px;
                    padding-bottom: 5px;
                }

                img {
                    height: 80px;
                    width: auto;
                    margin-bottom: 10px;

                    @media screen and (max-width: $screen-xs-max) {
                        height: 48px;
                        margin-bottom: 5px;
                    }
                }

                &.active {
                    padding-bottom: 8px;
                    border-bottom-width: 2px;
                    border-bottom-style: solid;
                }
            }

            #story-menu-item {
                color: $brand-primary;
                border-color: $brand-primary;
                margin-right: 20px;
            }

            #place-menu-item {
                color: $brand-success;
                border-color: $brand-success;
            }
        }

        #user-menu {
            text-align: right;

            &.logged-in {
                $avatar-size: 48px;
                flex: 0 0 $avatar-size;
                margin-left: $side-width - $avatar-size;

                @media screen and (max-width: $screen-xs-max) {
                    margin-left: 0;
                }

                .avatar.dropdown-toggle {
                    @include image-cover();
                    display: block;
                    width: 48px;
                    height: 48px;
                    border-radius: 99px;
                }

                .dropdown-menu {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }

            &.not-logged-in {
                flex: 0 0 $side-width;

                @media screen and (max-width: $screen-xs-max) {
                    flex: 0 0 auto;
                }

                a {
                    margin-left: 1em;
                }
            }
        }
    }

    .second-row {
        height: 100px;
        max-width: 500px;
        padding: 33px 15px;
        margin: auto;

        input {
            background-color: rgba(255,255,255,0.5);
        }

        button {
            background-color: rgba(255,255,255,0.7);
        }
    }

}
