#picture-carousel {
    margin: 40px 0;

    .picture-thumb {
        display: flex;
        width: 300px;
        height: 300px;
        @include image-cover();
        margin: 0 10px;

        @media screen and (max-width: $screen-xs-max) {
            width: 200px;
            height: 200px;
        }
    }
}

.lg-outer .lg {

    .lg-inner {

    }

    .lg-thumb-outer {
        .lg-thumb {
            .lg-thumb-item {
                display: flex;
                justify-contnet: center;
                align-items: center;
                border: none;
                border-radius: 0;

                &.active {
                    opacity: 0.5;
                }
            }
        }
    }
}
