#place-wrapper {
    width: 100%;
    overflow: hidden;

    #place-map {
        float: left;
        width: 50%;
        height: 600px;

        &.affix {
            top: 0;
            left: 0;
            bottom: 0;
            height: auto;
        }

        #place-map-inner {
            width: 100%;
            height: 100%;
        }
    }

    #place-list {
        margin-left: 50%;
        padding: 20px;
        height: 2000px;
    }
}
