//==============================================================================
// Base
//==============================================================================

@import "base/variable";

// Bootstrap
$icon-font-path: '../fonts/bootstrap';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "base/mixin";
@import "base/global";
@import "base/typography";


//==============================================================================
// Front-end Libraries
//==============================================================================

// Roboto fonts
$roboto-font-path: '../fonts/roboto';
@import "node_modules/roboto-fontface/css/roboto-fontface.scss";

// Openlayers
@import "node_modules/openlayers/dist/ol";

// SweetAlert
@import "node_modules/sweetalert/dist/sweetalert";

// FontAwesome Icons
$fa-font-path: "../fonts/font-awesome";
@import "node_modules/font-awesome/scss/font-awesome";

// LightGallery
$lg-path-fonts: '../fonts/lightgallery';
$lg-path-images: '../img/lightgallery';
@import "node_modules/lightgallery/src/sass/lightgallery";

// Selectize
@import "node_modules/selectize/dist/css/selectize";
@import "node_modules/selectize/dist/css/selectize.bootstrap3";

// Flickity
@import "node_modules/flickity/css/flickity";

// Override Vendor Styles
@import "vendor/light-gallery";
@import "vendor/openlayers";
@import "vendor/selectize";
@import "vendor/sweetalert";


//==============================================================================
// Layout
//==============================================================================

@import "layout/navbar";
@import "layout/footer";
@import "layout/container";


//==============================================================================
// Components
//==============================================================================

@import "component/image-manager";
@import "component/coordinate-select";
@import "component/gallery-editor";
@import "component/material-card";
@import "component/tag-list";
@import "component/tag-filter";
@import "component/upload/image-preview";
@import "component/raster";
@import "component/like-button";
@import "component/page-cover";
@import "component/action-buttons";


//==============================================================================
// Pages
//==============================================================================

@import "page/home";

@import "page/auth";
@import "page/setting";
@import "page/create";
@import "page/edit";
@import "page/index";
@import "page/show";

@import "page/designer/index";
@import "page/designer/show";

@import "page/place/index";
@import "page/place/show";

@import "page/story/index";
@import "page/story/show";

@import "page/tag/index";
@import "page/tag/show";
