
// Bootstrap grids without gutter

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

// TODO: Remove
.grid {
    display: flex;
    margin: 0 (- $grid-column-space / 2);
    justify-content: flex-start;
    flex-wrap: wrap;

    .column {
        flex: 1 1 auto;
        margin: 0 $grid-column-space / 2;
    }

    @media (min-width: $grid-two-column-width + $scrollbar-width) {
        .column-1-2 {
            flex: 1 1 $grid-column-width;
        }

        .column-2-2 {
            width: $grid-column-width * 2 + $grid-column-space;
        }
    }

    @media (min-width: $grid-three-column-width + $scrollbar-width) {
        .column-1-3 {
            width: $grid-column-width;
        }

        .column-2-3 {
            width: $grid-column-width * 2 + $grid-column-space;
        }

        .column-3-3 {
            width: $grid-column-width * 3 + $grid-column-space * 2;
        }
    }

    @media (min-width: $grid-four-column-width + $scrollbar-width) {
        .column-1-4 {
            width: $grid-column-width;
        }

        .column-2-4 {
            width: $grid-column-width * 2 + $grid-column-space;
        }

        .column-3-4 {
            width: $grid-column-width * 3 + $grid-column-space * 2;
        }

        .column-4-4 {
            width: $grid-column-width * 4 + $grid-column-space * 3;
        }
    }
}
