.image-grid {
    $small-column-space: 6px;

    display: flex;
    max-width: $grid-two-column-width;
    margin: 0 auto;
    padding: $grid-padding - $small-column-space / 2;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    a {
        display: block;
        flex: 0 1 calc(33.3333% - #{$small-column-space});
        margin: $small-column-space / 2;

        img {
            width: 100%;
            height: auto;
        }
    }

    @media (min-width: $grid-three-column-width + $scrollbar-width) {
        max-width: $grid-three-column-width;
        padding: $grid-padding - $grid-column-space / 2;

        a {
            flex: 0 0 $grid-column-width;
            margin: $grid-column-space / 2;
        }
    }

    @media (min-width: $grid-four-column-width + $scrollbar-width) {
        max-width: $grid-four-column-width;
    }
}
