#story-index-page {
    background-color: #fafafa;

    article.story {
        .panel-body {
            h2 {
                margin-top: 0;
            }

            img {
                max-width: 50%;
                height: auto;
                margin-left: 10px;
            }
        }

        .panel-footer {
            background-color: transparent;

            .list-inline {
                margin-top: 0;
                margin-bottom: 0;
            }

            .avatar {
                border-radius: 3px;
                margin-right: 5px;
            }

            .fa {
                margin-right: 5px;
            }

            a {
                color: inherit;
            }
        }
    }

    .sticky {
        position: sticky;
        top: $custom-navbar-height + 20px;
        z-index: 10;
    }
}
