#story-index-page {

    background-color: #f0f0f0;

    .custom-container {
        margin: 0 auto;
        width: 300px;

        @media screen and (min-width: 700px) {
            width: 680px;
        }

        @media screen and (min-width: 1040px) {
            width: 1020px;
        }

        @media screen and (min-width: 1380px) {
            width: 1360px;
        }
    }

    article.story {
        width: 300px;
        height: 500px;
        margin-bottom: 20px;
        background-color: #ffffff;
        @include material-shadow(lower);
        transition: 0.3s;

        &:hover {
            @include material-shadow(medium);
        }

        @media screen and (min-width: 740px) {
            margin: 20px;
            float: left;
        }

        a {
            display: block;
            padding: 20px;
            color: $gray-light;
        }

        .cover-image {
            display: block;
            margin: -20px -20px 0 -20px;
        }

        .text {
            height: 160px;
            margin-top: 20px;
            overflow: hidden;
        }

        h1 {
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 10px;
        }
    }

    .pagination {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
