#home-page {
    header {
        color: #ffffff;
    }

    main {
        padding: 30px 0;
    }
}

#home-carousel {
    height: 300px;
    overflow: hidden;

    .carousel-cell {
        width: 100%;
        max-width: 1200px;
        height: 300px;
        @include image-cover();
        transition: opacity 0.5s, transform 0.5s;

        .jumbotron {
            height: 100%;
            background-color: transparent;
            background-image: url(/img/raster/dark-dot.svg);
            transition: opacity 1s;

            h1 {
                font-weight: 300;

                @media screen and (max-width: $screen-xs-max) {
                    font-size: 32px;
                }
            }

            p {
                font-weight: 400;

                @media screen and (max-width: $screen-xs-max) {
                    font-size: 14px;
                }
            }
        }

        &:not(.is-selected) {
            transform: scale(0.8);
            opacity: 0.5;

            .jumbotron {
                opacity: 0;

                * {
                    display: none;
                }
            }
        }
    }

    .flickity-prev-next-button {
        border: 3px solid #ffffff;
        background-color: transparent;
        transition: 0.3s;
        transform-origin: 50% 50%;

        &:hover {
            transform: translateY(-50%) scale(1.2);
        }

        .arrow {
            fill: #ffffff;
        }

        @media screen and (max-width: $screen-xs-max) {
            display: none;
        }

        @media screen and (min-width: 1200px) {
            background-color: rgba(0,0,0,0.3);
        }
    }

    .flickity-page-dots {
        bottom: 30px;

        .dot {
            width: 12px;
            height: 12px;
            opacity: 1;
            background: transparent;
            border: 2px solid white;

            &.is-selected {
                background: white;
            }
        }
    }

    @media screen and (min-width: $screen-sm-min) {
        height: 400px;

        .carousel-cell {
            height: 400px;
        }
    }

    @media screen and (min-width: $screen-md-min) {
        height: 450px;

        .carousel-cell {
            height: 450px;
        }
    }

    @media screen and (min-width: $screen-lg-min) {
        height: 500px;

        .carousel-cell {
            height: 500px;
        }
    }
}
