.float-icon {
    $size: 50px;
    $icon-size: 32px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: $size;
    height: $size;
    padding: ($size - $icon-size) / 2;
    text-align: center;
    background-color: #ffffff;
    border-radius: 99px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.3);

    &:hover, &:active {
        box-shadow: 0 0 0 4px $brand-primary;
    }

    .stroke-icon {
        display: block;
        width: $icon-size;
        height: $icon-size;
    }
}
