.stroke-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    @include image-cover();

    &.icon-create {
        background-image: url('/img/icon/stroke/create.svg');
    }

    &.icon-designer {
        background-image: url('/img/icon/stroke/designer.svg');
    }

    &.icon-home {
        background-image: url('/img/icon/stroke/home.svg');
    }

    &.icon-language {
        background-image: url('/img/icon/stroke/language.svg');
    }

    &.icon-list {
        background-image: url('/img/icon/stroke/list.svg');
    }

    &.icon-login {
        background-image: url('/img/icon/stroke/login.svg');
    }

    &.icon-place {
        background-image: url('/img/icon/stroke/place.svg');
    }

    &.icon-register {
        background-image: url('/img/icon/stroke/register.svg');
    }

    &.icon-story {
        background-image: url('/img/icon/stroke/story.svg');
    }

    &.icon-user {
        background-image: url('/img/icon/stroke/user.svg');
    }

    &.small-icon {
        width: 24px;
        height: 24px;

        &.icon-create {
            background-image: url('/img/icon/stroke/small/create.svg');
        }
    }
}
