.raster {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
}

.raster-dark {
    background-color: rgba(0,0,0,0.2);
}

.raster-light {
    background-color: rgba(255,255,255,0.2);
}

.raster-dark-dot {
    background-image: url(/img/raster/dark-dot.svg);
}
