.tags {
    @extend .list-inline;
    margin-left: 0;
    margin-right: 0;

    > li {
        padding: 0;
        border: 1px solid $brand-info;

        a {
            color: $brand-info;
            padding: 0 5px;
        }

        a:hover, a:active, a:focus {
            text-decoration: none;
        }

        &:hover {
            background-color: $brand-info;
            a {
                color: #ffffff;
            }
        }
    }
}
