#app-footer {
    text-align: center;
    padding: $grid-gutter-width 0;
    background-color: $gray-lightest;
    color: $gray-light;
    font-size: $font-size-small;

    .link-list > li > a:not(:hover) {
        color: inherit;
    }
}
