#app-footer {
    text-align: center;
    padding: 30px 0;
    background-color: #ffffff;
    color: #666666;

    &.float {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    a {
        color: inherit;
    }
}
