nav.custom-navbar {
    $shadow-size: 5px;
    $icon-size: 32px;

    position: fixed;
    width: 100%;
    height: $custom-navbar-height;
    background-color: #fff;
    box-shadow: 0 $shadow-size 0 rgba(0,0,0,0.2);
    z-index: 100;

    .nav-menu {
        @include list-unstyled;
        height: $custom-navbar-height;
        display: flex;
        margin: 0;
        padding: 0;

        > li {
            flex: 1 0 auto;
            height: $custom-navbar-height;
            line-height: $custom-navbar-height;

            &.space {
                flex: 0 0 0;
            }

            > a {
                display: block;
                height: 100%;
                padding: 0 5px;
                text-decoration: none;
                text-align: center;
                font-weight: 300;
                color: #555555;
                transition: 0.3s;

                &:hover {
                    text-decoration: none;
                }

                &.create {
                    color: $brand-primary;
                }
            }

            &.active {
                > a {
                    box-shadow: 0 $shadow-size 0 $brand-info;
                }
            }

            &:hover {
                > a {
                    background-color: lighten($brand-info, 35%);
                }
            }
        }

    }

    .stroke-icon {
        width: $icon-size;
        height: $icon-size;
        margin-top: ($custom-navbar-height - $icon-size) / 2;
        vertical-align: top;
    }

    .logo {
        $logo-size: $icon-size * 1.3;
        display: none;
        position: absolute;
        width: $logo-size;
        height: $logo-size;
        left: 50%;
        top: ($custom-navbar-height - $logo-size) / 2;
        margin-left: - $logo-size / 2;
        background-image: url(/img/logo/without-shadow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
    }

    .avatar {
        width: $icon-size;
        height: $icon-size;
        margin-top: ($custom-navbar-height - $icon-size) / 2;
        border-radius: 3px;
        vertical-align: top;
    }

    .name {
        margin-left: 5px;
    }

    @media (max-width: $screen-xs-max) {
        .dropdown {
            .dropdown-menu {
                position: fixed;
                min-width: 200px;
                max-width: 300px;
                right: 0;
                top: $custom-navbar-height;
                bottom: 0;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 0;
                overflow-y: auto;

                > li {
                    > a {
                        line-height: 40px;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        .nav-menu {
            > li{
                flex: 0 0 auto;

                > a {
                    font-size: 12px;
                }

                &.space {
                    flex: 1 1 auto;
                }

                .text {
                    display: inline;
                }
            }
        }

        .logo {
            display: block;
        }
    }

    @media (min-width: $screen-md-min) {
        .nav-menu {
            > li{
                > a {
                    font-size: 14px;
                }
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        .nav-menu {
            > li{
                > a {
                    font-size: 16px;
                }
            }
        }
    }
}

.custom-navbar-space {
    height: $custom-navbar-height;
}
