nav.custom-navbar {
    $icon-size: 32px;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: $custom-navbar-height;
    background-color: #fff;
    border-bottom: 1px solid $gray-lighter;
    z-index: 100;

    .nav-menu {
        @include list-unstyled;
        height: $custom-navbar-height;
        display: flex;
        margin: 0;
        padding: 0;

        > li {
            flex: 1 0 auto;
            height: $custom-navbar-height;
            line-height: $custom-navbar-height;

            &.space {
                flex: 0 0 0;
            }

            &.brand {
                font-weight: 500;
            }

            > a {
                display: block;
                height: 100%;
                padding: 0 5px;
                text-decoration: none;
                text-align: center;
                color: #555555;
                transition: 0.3s;

                &:hover {
                    text-decoration: none;
                }

                &.create {
                    color: $brand-primary;
                    svg use path {
                        fill: $brand-primary;
                    }
                }
            }

            &.active {
                > a {
                    box-shadow: 0 -3px 0 $brand-info inset;
                }
            }

            &:hover {
                > a {
                    background-color: lighten($brand-info, 25%);
                }
            }
        }

    }

    svg.icon {
        width: $icon-size;
        height: $icon-size;
        margin-top: ($custom-navbar-height - $icon-size) / 2;
        vertical-align: top;
    }

    .avatar {
        width: $icon-size;
        height: $icon-size;
        margin-top: ($custom-navbar-height - $icon-size) / 2;
        border-radius: 3px;
        vertical-align: top;
    }

    .name {
        margin-left: 5px;
    }

    @media (max-width: $screen-xs-max) {
        .dropdown {
            .dropdown-menu {
                position: fixed;
                min-width: 200px;
                max-width: 300px;
                right: 0;
                top: $custom-navbar-height;
                bottom: 0;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 0;
                overflow-y: auto;

                > li {
                    > a {
                        line-height: 40px;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        .nav-menu {
            > li{
                flex: 0 0 auto;

                &.space {
                    flex: 1 1 auto;
                }

                .text {
                    display: inline;
                }
            }
        }
    }
}

.custom-navbar-space {
    height: $custom-navbar-height;
}
