nav.navbar {
    $icon-size: 24px;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height;
    background-color: #f8f8f8;
    z-index: 100;

    .nav-menu {
        @include list-unstyled;
        height: $navbar-height;
        display: flex;
        margin: 0;
        padding: 0 5px;

        > li {
            flex: 0 0 auto;
            height: $navbar-height;
            line-height: $navbar-height - 5px; // For better vertical alignment

            &.space {
                flex: 1 1 300px;
            }

            > a {
                display: block;
                height: 100%;
                margin: 0 5px;
                padding: 0 5px;
                text-decoration: none;
                text-align: center;
                color: $gray;
                transition: 0.3s;

                &:hover {
                    text-decoration: none;
                }

                .icon {
                    font-size: $icon-size;
                    width: $icon-size;
                    vertical-align: middle;
                }

                .text {
                    font-size: $font-size-small;
                    vertical-align: middle;
                    text-transform: uppercase;
                }
            }

            &.active {
                > a {
                    color: $brand-primary;
                    box-shadow: 0 2px 0 $brand-primary inset;
                }
            }

            &:hover {
                > a {
                    opacity: 0.6;
                    color: $brand-primary;
                    box-shadow: 0 3px 0 $brand-primary inset;
                }
            }
        }

    }

    .avatar {
        display: inline-block;
        width: 30px;
        height: 30px;
    }

    @media (max-width: $screen-xs-max) {
        position: fixed;
        top: auto;
        bottom: 0;

        .nav-menu {
            > li{
                flex: 1 1 50px;
                text-align: center;

                > a {
                    .icon {
                        display: block;
                        width: 100%;
                        height: $icon-size + 12px;
                        line-height: $icon-size;
                        padding-top: 8px;
                        padding-bottom: 4px;
                    }

                    .text {
                        display: block;
                        font-size: 10px;
                        height: 10px + 4px;
                        line-height: 10px;
                        padding-bottom: 4px;
                    }
                }

                &.space {
                    display: none;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {

    }
}
