#designer-show-page {

    header {
        .text {
            position: absolute;
            top: 80px;
            bottom: 15%;
            left: 15px;
            right: 15px;
            text-align: center;
            color: #ffffff;
        }

        .logo-image {
            max-height: 79px;
            width: auto;
            padding: 2px;
            background-color: #ffffff;
            @include material-shadow(low);
        }

        .name {
            font-size: 28px;
            font-weight: 300;
        }

        .tagline {
            font-size: 16px;
        }

        @media screen and (min-width: $screen-sm-min) {
            .text {
                top: 50px;
                left: 20%;
                right: 20%;
            }
        }

        @media screen and (min-width: $screen-md-min) {
            .text {
                top: 15%;
                bottom: 15%;
            }

            .logo-image {
                max-height: 108px;
                width: auto;
                padding: 4px;
            }

            .name {
                font-size: 40px;
            }

            .tagline {
                font-size: 22px;
            }
        }
    }

    .links {
        font-size: 24px;
        line-height: 40px;

        * {
            text-decoration: none;
        }

        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 999px;
            text-align: center;
            background: #fff;
            color: #000;
            text-shadow: none;
        }
    }

    main {
        padding: 0;
    }
}
